USE [TUTEV_DB]
GO
/****** Object:  Table [dbo].[UZMANLIK_ALANLARI]    Script Date: 05/18/2012 21:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UZMANLIK_ALANLARI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UZMANLIK_ADI] [varchar](50) NOT NULL,
 CONSTRAINT [PK_UZMANLIK_ALANLARI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UNVAN]    Script Date: 05/18/2012 21:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UNVAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ACIKLAMA] [varchar](50) NOT NULL,
 CONSTRAINT [PK_UNVAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KULUP]    Script Date: 05/18/2012 21:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KULUP](
	[ID] [int] NOT NULL,
	[AD] [varchar](45) NULL,
	[SIFRE] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DUYURU_TIP]    Script Date: 05/18/2012 21:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DUYURU_TIP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ACIKLAMA] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DUYURU_TIP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SECENEK_TIP]    Script Date: 05/18/2012 21:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SECENEK_TIP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ACIKLAMA] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SECENEK_TIP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SECENEK]    Script Date: 05/18/2012 21:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SECENEK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ACIKLAMA] [varchar](200) NOT NULL,
 CONSTRAINT [PK_SECENEK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORGANIZASYON_TIP]    Script Date: 05/18/2012 21:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORGANIZASYON_TIP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ACIKLAMA] [varchar](50) NULL,
 CONSTRAINT [PK_ORGANIZASYON_TIP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORGANIZASYON]    Script Date: 05/18/2012 21:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORGANIZASYON](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ORGANIZASYON_TIP_ID] [int] NOT NULL,
	[KULUP_ID] [int] NOT NULL,
	[AD] [varchar](50) NOT NULL,
	[TARIH] [datetime] NOT NULL,
 CONSTRAINT [PK_ORGANIZASYON] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KATILIMCI]    Script Date: 05/18/2012 21:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KATILIMCI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](50) NOT NULL,
	[SOYAD] [varchar](50) NOT NULL,
	[TELEFON] [varchar](50) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[UNVAN_ID] [int] NOT NULL,
 CONSTRAINT [PK_KATILIMCI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SORU]    Script Date: 05/18/2012 21:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SORU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SORU_METNI] [varchar](200) NOT NULL,
	[SECENEK_TIP] [int] NOT NULL,
 CONSTRAINT [PK_SORU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ANKET]    Script Date: 05/18/2012 21:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ANKET](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ORGANIZASYON_ID] [int] NOT NULL,
	[ACIKLAMA] [varchar](250) NOT NULL,
 CONSTRAINT [PK_ANKET] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SORU_SECENEK_ARATABLO]    Script Date: 05/18/2012 21:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SORU_SECENEK_ARATABLO](
	[SORU_ID] [int] NOT NULL,
	[SECENEK_ID] [int] NOT NULL,
 CONSTRAINT [PK_SORU_SECENEK_ARATABLO] PRIMARY KEY CLUSTERED 
(
	[SORU_ID] ASC,
	[SECENEK_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KATILIMCI_UZMANLIK_ARATABLO]    Script Date: 05/18/2012 21:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KATILIMCI_UZMANLIK_ARATABLO](
	[KATILIMCI_ID] [int] NOT NULL,
	[UZMANLIK_ALANI_ID] [int] NOT NULL,
 CONSTRAINT [PK_KATILIMCI_UZMANLIK_ARATABLO] PRIMARY KEY CLUSTERED 
(
	[KATILIMCI_ID] ASC,
	[UZMANLIK_ALANI_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KATILIMCI_ORGANIZASYON_ARATABLO]    Script Date: 05/18/2012 21:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KATILIMCI_ORGANIZASYON_ARATABLO](
	[ORGANIZASYON_ID] [int] NOT NULL,
	[KATILIMCI_ID] [int] NOT NULL,
	[KAYIT_NO] [int] NOT NULL,
 CONSTRAINT [PK_KATILIMCI_ORGANIZASYON_ARATABLO] PRIMARY KEY CLUSTERED 
(
	[ORGANIZASYON_ID] ASC,
	[KATILIMCI_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KATILIMCI_ANKET_CEVAP_ARATABLO]    Script Date: 05/18/2012 21:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KATILIMCI_ANKET_CEVAP_ARATABLO](
	[KATILIMCI_ID] [int] NOT NULL,
	[SORU_ID] [int] NOT NULL,
	[SECENEK_ID] [int] NOT NULL,
 CONSTRAINT [PK_KATILIMCI_ANKET_CEVAP_ARATABLO] PRIMARY KEY CLUSTERED 
(
	[KATILIMCI_ID] ASC,
	[SORU_ID] ASC,
	[SECENEK_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DUYURU]    Script Date: 05/18/2012 21:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DUYURU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DUYURU_TIP_ID] [int] NOT NULL,
	[ORGANIZASYON_ID] [int] NOT NULL,
	[BASLIK] [varchar](50) NOT NULL,
	[BITIS_TARIHI] [datetime] NOT NULL,
 CONSTRAINT [PK_DUYURU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ANKET_SORU_ARATABLO]    Script Date: 05/18/2012 21:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANKET_SORU_ARATABLO](
	[ANKET_ID] [int] NOT NULL,
	[SORU_ID] [int] NOT NULL,
 CONSTRAINT [PK_ANKET_SORU_ARATABLO] PRIMARY KEY CLUSTERED 
(
	[ANKET_ID] ASC,
	[SORU_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_ANKET_ORGANIZASYON]    Script Date: 05/18/2012 21:10:23 ******/
ALTER TABLE [dbo].[ANKET]  WITH CHECK ADD  CONSTRAINT [FK_ANKET_ORGANIZASYON] FOREIGN KEY([ORGANIZASYON_ID])
REFERENCES [dbo].[ORGANIZASYON] ([ID])
GO
ALTER TABLE [dbo].[ANKET] CHECK CONSTRAINT [FK_ANKET_ORGANIZASYON]
GO
/****** Object:  ForeignKey [FK_ANKET_SORU_ARATABLO_ANKET]    Script Date: 05/18/2012 21:10:23 ******/
ALTER TABLE [dbo].[ANKET_SORU_ARATABLO]  WITH CHECK ADD  CONSTRAINT [FK_ANKET_SORU_ARATABLO_ANKET] FOREIGN KEY([ANKET_ID])
REFERENCES [dbo].[ANKET] ([ID])
GO
ALTER TABLE [dbo].[ANKET_SORU_ARATABLO] CHECK CONSTRAINT [FK_ANKET_SORU_ARATABLO_ANKET]
GO
/****** Object:  ForeignKey [FK_ANKET_SORU_ARATABLO_SORU]    Script Date: 05/18/2012 21:10:23 ******/
ALTER TABLE [dbo].[ANKET_SORU_ARATABLO]  WITH CHECK ADD  CONSTRAINT [FK_ANKET_SORU_ARATABLO_SORU] FOREIGN KEY([SORU_ID])
REFERENCES [dbo].[SORU] ([ID])
GO
ALTER TABLE [dbo].[ANKET_SORU_ARATABLO] CHECK CONSTRAINT [FK_ANKET_SORU_ARATABLO_SORU]
GO
/****** Object:  ForeignKey [FK_DUYURU_DUYURU_TIP]    Script Date: 05/18/2012 21:10:23 ******/
ALTER TABLE [dbo].[DUYURU]  WITH CHECK ADD  CONSTRAINT [FK_DUYURU_DUYURU_TIP] FOREIGN KEY([DUYURU_TIP_ID])
REFERENCES [dbo].[DUYURU_TIP] ([ID])
GO
ALTER TABLE [dbo].[DUYURU] CHECK CONSTRAINT [FK_DUYURU_DUYURU_TIP]
GO
/****** Object:  ForeignKey [FK_DUYURU_ORGANIZASYON]    Script Date: 05/18/2012 21:10:23 ******/
ALTER TABLE [dbo].[DUYURU]  WITH CHECK ADD  CONSTRAINT [FK_DUYURU_ORGANIZASYON] FOREIGN KEY([ORGANIZASYON_ID])
REFERENCES [dbo].[ORGANIZASYON] ([ID])
GO
ALTER TABLE [dbo].[DUYURU] CHECK CONSTRAINT [FK_DUYURU_ORGANIZASYON]
GO
/****** Object:  ForeignKey [FK_KATILIMCI_UNVAN]    Script Date: 05/18/2012 21:10:23 ******/
ALTER TABLE [dbo].[KATILIMCI]  WITH CHECK ADD  CONSTRAINT [FK_KATILIMCI_UNVAN] FOREIGN KEY([UNVAN_ID])
REFERENCES [dbo].[UNVAN] ([ID])
GO
ALTER TABLE [dbo].[KATILIMCI] CHECK CONSTRAINT [FK_KATILIMCI_UNVAN]
GO
/****** Object:  ForeignKey [FK_KATILIMCI_ANKET_CEVAP_ARATABLO_KATILIMCI]    Script Date: 05/18/2012 21:10:23 ******/
ALTER TABLE [dbo].[KATILIMCI_ANKET_CEVAP_ARATABLO]  WITH CHECK ADD  CONSTRAINT [FK_KATILIMCI_ANKET_CEVAP_ARATABLO_KATILIMCI] FOREIGN KEY([KATILIMCI_ID])
REFERENCES [dbo].[KATILIMCI] ([ID])
GO
ALTER TABLE [dbo].[KATILIMCI_ANKET_CEVAP_ARATABLO] CHECK CONSTRAINT [FK_KATILIMCI_ANKET_CEVAP_ARATABLO_KATILIMCI]
GO
/****** Object:  ForeignKey [FK_KATILIMCI_ANKET_CEVAP_ARATABLO_SECENEK]    Script Date: 05/18/2012 21:10:23 ******/
ALTER TABLE [dbo].[KATILIMCI_ANKET_CEVAP_ARATABLO]  WITH CHECK ADD  CONSTRAINT [FK_KATILIMCI_ANKET_CEVAP_ARATABLO_SECENEK] FOREIGN KEY([SECENEK_ID])
REFERENCES [dbo].[SECENEK] ([ID])
GO
ALTER TABLE [dbo].[KATILIMCI_ANKET_CEVAP_ARATABLO] CHECK CONSTRAINT [FK_KATILIMCI_ANKET_CEVAP_ARATABLO_SECENEK]
GO
/****** Object:  ForeignKey [FK_KATILIMCI_ANKET_CEVAP_ARATABLO_SORU]    Script Date: 05/18/2012 21:10:23 ******/
ALTER TABLE [dbo].[KATILIMCI_ANKET_CEVAP_ARATABLO]  WITH CHECK ADD  CONSTRAINT [FK_KATILIMCI_ANKET_CEVAP_ARATABLO_SORU] FOREIGN KEY([SORU_ID])
REFERENCES [dbo].[SORU] ([ID])
GO
ALTER TABLE [dbo].[KATILIMCI_ANKET_CEVAP_ARATABLO] CHECK CONSTRAINT [FK_KATILIMCI_ANKET_CEVAP_ARATABLO_SORU]
GO
/****** Object:  ForeignKey [FK_KATILIMCI_ORGANIZASYON_ARATABLO_KATILIMCI]    Script Date: 05/18/2012 21:10:23 ******/
ALTER TABLE [dbo].[KATILIMCI_ORGANIZASYON_ARATABLO]  WITH CHECK ADD  CONSTRAINT [FK_KATILIMCI_ORGANIZASYON_ARATABLO_KATILIMCI] FOREIGN KEY([KATILIMCI_ID])
REFERENCES [dbo].[KATILIMCI] ([ID])
GO
ALTER TABLE [dbo].[KATILIMCI_ORGANIZASYON_ARATABLO] CHECK CONSTRAINT [FK_KATILIMCI_ORGANIZASYON_ARATABLO_KATILIMCI]
GO
/****** Object:  ForeignKey [FK_KATILIMCI_ORGANIZASYON_ARATABLO_ORGANIZASYON]    Script Date: 05/18/2012 21:10:23 ******/
ALTER TABLE [dbo].[KATILIMCI_ORGANIZASYON_ARATABLO]  WITH CHECK ADD  CONSTRAINT [FK_KATILIMCI_ORGANIZASYON_ARATABLO_ORGANIZASYON] FOREIGN KEY([ORGANIZASYON_ID])
REFERENCES [dbo].[ORGANIZASYON] ([ID])
GO
ALTER TABLE [dbo].[KATILIMCI_ORGANIZASYON_ARATABLO] CHECK CONSTRAINT [FK_KATILIMCI_ORGANIZASYON_ARATABLO_ORGANIZASYON]
GO
/****** Object:  ForeignKey [FK_KATILIMCI_UZMANLIK_ARATABLO_KATILIMCI]    Script Date: 05/18/2012 21:10:23 ******/
ALTER TABLE [dbo].[KATILIMCI_UZMANLIK_ARATABLO]  WITH CHECK ADD  CONSTRAINT [FK_KATILIMCI_UZMANLIK_ARATABLO_KATILIMCI] FOREIGN KEY([KATILIMCI_ID])
REFERENCES [dbo].[KATILIMCI] ([ID])
GO
ALTER TABLE [dbo].[KATILIMCI_UZMANLIK_ARATABLO] CHECK CONSTRAINT [FK_KATILIMCI_UZMANLIK_ARATABLO_KATILIMCI]
GO
/****** Object:  ForeignKey [FK_KATILIMCI_UZMANLIK_ARATABLO_UZMANLIK_ALANLARI]    Script Date: 05/18/2012 21:10:23 ******/
ALTER TABLE [dbo].[KATILIMCI_UZMANLIK_ARATABLO]  WITH CHECK ADD  CONSTRAINT [FK_KATILIMCI_UZMANLIK_ARATABLO_UZMANLIK_ALANLARI] FOREIGN KEY([UZMANLIK_ALANI_ID])
REFERENCES [dbo].[UZMANLIK_ALANLARI] ([ID])
GO
ALTER TABLE [dbo].[KATILIMCI_UZMANLIK_ARATABLO] CHECK CONSTRAINT [FK_KATILIMCI_UZMANLIK_ARATABLO_UZMANLIK_ALANLARI]
GO
/****** Object:  ForeignKey [FK_ORGANIZASYON_KULUP]    Script Date: 05/18/2012 21:10:23 ******/
ALTER TABLE [dbo].[ORGANIZASYON]  WITH CHECK ADD  CONSTRAINT [FK_ORGANIZASYON_KULUP] FOREIGN KEY([KULUP_ID])
REFERENCES [dbo].[KULUP] ([ID])
GO
ALTER TABLE [dbo].[ORGANIZASYON] CHECK CONSTRAINT [FK_ORGANIZASYON_KULUP]
GO
/****** Object:  ForeignKey [FK_ORGANIZASYON_ORGANIZASYON_TIP]    Script Date: 05/18/2012 21:10:23 ******/
ALTER TABLE [dbo].[ORGANIZASYON]  WITH CHECK ADD  CONSTRAINT [FK_ORGANIZASYON_ORGANIZASYON_TIP] FOREIGN KEY([ORGANIZASYON_TIP_ID])
REFERENCES [dbo].[ORGANIZASYON_TIP] ([ID])
GO
ALTER TABLE [dbo].[ORGANIZASYON] CHECK CONSTRAINT [FK_ORGANIZASYON_ORGANIZASYON_TIP]
GO
/****** Object:  ForeignKey [FK_SORU_SECENEK_TIP]    Script Date: 05/18/2012 21:10:23 ******/
ALTER TABLE [dbo].[SORU]  WITH CHECK ADD  CONSTRAINT [FK_SORU_SECENEK_TIP] FOREIGN KEY([SECENEK_TIP])
REFERENCES [dbo].[SECENEK_TIP] ([ID])
GO
ALTER TABLE [dbo].[SORU] CHECK CONSTRAINT [FK_SORU_SECENEK_TIP]
GO
/****** Object:  ForeignKey [FK_SORU_SECENEK_ARATABLO_SECENEK]    Script Date: 05/18/2012 21:10:23 ******/
ALTER TABLE [dbo].[SORU_SECENEK_ARATABLO]  WITH CHECK ADD  CONSTRAINT [FK_SORU_SECENEK_ARATABLO_SECENEK] FOREIGN KEY([SECENEK_ID])
REFERENCES [dbo].[SECENEK] ([ID])
GO
ALTER TABLE [dbo].[SORU_SECENEK_ARATABLO] CHECK CONSTRAINT [FK_SORU_SECENEK_ARATABLO_SECENEK]
GO
/****** Object:  ForeignKey [FK_SORU_SECENEK_ARATABLO_SORU]    Script Date: 05/18/2012 21:10:23 ******/
ALTER TABLE [dbo].[SORU_SECENEK_ARATABLO]  WITH CHECK ADD  CONSTRAINT [FK_SORU_SECENEK_ARATABLO_SORU] FOREIGN KEY([SORU_ID])
REFERENCES [dbo].[SORU] ([ID])
GO
ALTER TABLE [dbo].[SORU_SECENEK_ARATABLO] CHECK CONSTRAINT [FK_SORU_SECENEK_ARATABLO_SORU]
GO
