<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true"/>
  </configSections>
  <dataConfiguration defaultDatabase="SqlServer"/>
  <connectionStrings>
    <add name="SqlServer" connectionString="Server=localhost;Database=TUTEV_DB;Trusted_Connection=False; User ID=sa;Password=123;Max Pool Size=200;Max Pool Size=200;Min Pool Size=5;Connect Timeout=60" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
